body{
    margin: 0;
    background-color: #fffef5;
}

input, select, option, button, p, label{
    font-family: 'Roboto', sans-serif;
}

p{
    margin: 0;
}

header{
    background-color: lightskyblue;
    height: 300px;
    width: auto;
    background-image: url('./imagens/header-imagem.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

*:focus {
    outline: 0;
}

select, button{
    cursor: pointer;
}

/*#################################################################*/

.main{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

#lado-esquerdo{
    width: 50%;
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container{
    width: 80%;
    margin: 2px 0;
}

#nome, #raca, #subRaca, #fonte{
    border: none;
    border-bottom: 1px solid lightgray;
    margin-bottom: 3px;
    width: 100%;
}

#raca{
    width: 69%;
    margin-right: 20px;
}

#raca, #subRaca, #fonte{
    background-color: #fffef5;
    color: #707074;
}

#nome::placeholder{
    color: #707074;
    text-align: left;
}

#pesquisarSubRaca, #enviar, #limpar{
    border: none;
    background-color: #91a8d1;
    border-radius: 12px;
    padding: 5px 10px;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 6px 12px -9px black;
}

#enviar{
    width: 120px;
    height: 30px;
    transition: background-color 0.5s;
}

#enviar:hover{
    background-color: #fff;
    border: 1px solid #91a8d1;
    color: #91a8d1;
}

#botoesCor{
    display: flex;
    justify-content: center;
}

.container:nth-child(6){
    display: flex;
    justify-content: space-around;
}

#limpar{
    background-color: lightgray;
    color: lightslategrey;
    transition: background-color 0.5s;
    width: 120px;
    height: 30px;
}

#limpar:hover{
    background-color: #fff;
    border: 1px solid #91a8d1;
}

#paragrafoCor{
    text-align: center;
    margin-bottom: 10px;
}

/*#################################################################*/

#lado-direito{
    width: 50%;
    height: 415px;
}

#imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 350px;
    width: 70%;   
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#nomeCachorro{
    margin-top: 200px;
    font-weight: 700;
    font-size: 50px;
}

#caixaMensagem{
    height: 20px;
    width: 30%;
    margin-bottom: 20px;
}

#mensagem{
    display: none;
    text-align: center;
    color: #f9bc3a;
    font-weight: 700;
    font-size: 25px;
}

/*#################################################################*/

footer{
    background-color: #5b7dba;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright{
    text-align: center;
    font-weight: 700;
    color: #fbd584;
    font-size: 20px;
}